.login-header{
    text-align: center;
    font-size: 30px;
    color: white!important;
  }
  .error{
    color: red;
  }
  .success{
    color: green;
  }
  .login-background{
    height:100vh ;
    width: 100vw;
    background-image: linear-gradient(to bottom right, #5d44f6, #f1e2f6)
}
.login-inputs{
  max-width: 440px;
  display: inline-block;
  position: relative;
  top: 73px;
}
.calendar-img{
  border-radius: 20px;
  // float: left;
  max-width: 370px;
  position: relative;
  top: -40px;
}
.wapper{
  margin: auto;
  max-width: 1000px;
  padding: 20px;
  position: relative;
  top: 20px;
}
.logo-img{
  width: 300px;
  margin: auto;
}

@media (max-width: 850px){
  .login-inputs{
    max-width: 100%;
  }
  .calendar-img{
    display: none;
  }
  .login-background{
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
  }
  .wapper{
width: 100%;
padding: 0!important;
top:-65px!important;
  }
  .logo-img{
    width: 200px;
    position: absolute;
    bottom: 0;
  }
}