
<mat-card style="width: 30% ; margin: auto; border-color: rgb(14, 14, 66) ;">
  <div class="wapper">
      <h1 class="login-header" ><b style="color: #2dd6d1" >כניסה</b></h1>
<div class="container login-inputs" style="text-align: center ;margin: auto">

    <div >
      <form [formGroup]="registerForm">
        <div class="form-group">
          <input type="email" placeholder="דואר אלקטרוני" formControlName="email" class="form-control" style="text-align: center;font-size: 14pt"> 
        </div>
        <div class="form-group">
          <input type="password" placeholder="סיסמה" class="form-control" formControlName="password" style="text-align: center;font-size: 14pt">
          <label class="error">{{errorMessage}}</label>
          <label class="success">{{successMessage}}</label>
        </div>
        <button type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-block btn-primary">כניסה</button>
      </form>
    </div>
    <br/>
    <div >
        <button type="button" class="btn btn-primary btn-block" (click)="tryGoogleLogin()" style="background: #e80b2a;border-color: #666e94" >
          
               <span>
              
              
                כניסה עם-Google
               </span>
               <img src="../../../assets/icons8-google-48 (2).png" width="30">
          
          </button>
    </div>
    <div >
      <p>אין עדיין חשבון? <a href="/register">צור חשבון</a></p>

    </div>

  </div>

  
</div>
  <img src="../../../assets/images/logo.gif" class="logo-img"> 
  
  
</mat-card>
