
  <!-- <p-breadcrumb [model]="menu" ></p-breadcrumb> -->
  <!DOCTYPE html>
  <html lang="he">
  <head>




    
    <!-- <title>Bootstrap Example</title> -->
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      /* Remove the navbar's default margin-bottom and rounded borders */ 
      .navbar {
        margin-bottom: 0;
        border-radius: 0;
      }
      
      /* Add a gray background color and some padding to the footer */
      footer {
        background-color: #f2f2f2;
        padding: 25px;
      }
    </style>
  </head>
  <body>

    
  <!-- <div class="container-fluid bg-3 text-center">    
    <h3>מיזמים קימים</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div><br>
  
  <div class="container-fluid bg-3 text-center">    
    <div class="row">
      <div class="col-sm-4">
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div><br><br>
   -->
  


<div style="height: 450px;"></div>



   <html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
>
</head>
<body>

<div style="text-align:center">
  <h2>Tabbed Image Gallery</h2>
  <p>Click on the images below:</p>
</div>

<!-- The four columns -->
<div class="row">
  <div class="column">
    <img src="../../../assets/images/img_nature.jpg" alt="Nature" style="width:100%"  (click)="open(0)">
  </div>
  <div class="column">
    <img src="../../../assets/images/img_mountains.jpg" alt="Snow" style="width:100%" (click)="open(1)" >
  </div>
  <div class="column">
    <img src="../../../assets/images/img_lights.jpg" alt="Mountains" style="width:100%" (click)="open(2)">
  </div>
  <div class="column">
    <img src="../../../assets/images/img_snow.jpg" alt="Lights" style="width:100%" (click)="open(3)" >
  </div>
</div>

<div class="container">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  <img id="expandedImg" style="width:100%">
  <div id="imgtext"></div>
</div>



</body>
</html>

  
  </body>
  </html>