<html>
  <head>

    <!-- href="https://fonts.googleapis.com/css?family=Assistant&display=swap" rel="stylesheet"> -->

  </head>
  <body>
    <br><br><br><br>
<label>מיזמים קיימים</label>

<div class="row">
  <div class="column">
    <img src="../../../assets/images/img_nature.jpg" alt="Nature" style="width:100%"  (click)="open(0)">
  </div>
  <div class="column">
    <img src="../../../assets/images/img_mountains.jpg" alt="Snow" style="width:100%" (click)="open(1)" >
  </div>
  <div class="column">
    <img src="../../../assets/images/img_lights.jpg" alt="Mountains" style="width:100%" (click)="open(2)">
  </div>
  <div class="column">
    <img src="../../../assets/images/img_snow.jpg" alt="Lights" style="width:100%" (click)="open(3)" >
  </div>
</div>
<ngb-pagination [collectionSize]="50" [(page)]="currentPage" size="sm"></ngb-pagination>


<br>
<label>מיזמים נוספים</label>

<div class="row">
  <div class="column">
    <img src="../../../assets/images/img_nature.jpg" alt="Nature" style="width:100%"  (click)="open(0)">
  </div>
  <div class="column">
    <img src="../../../assets/images/img_mountains.jpg" alt="Snow" style="width:100%" (click)="open(1)" >
  </div>
  <div class="column">
    <img src="../../../assets/images/img_lights.jpg" alt="Mountains" style="width:100%" (click)="open(2)">
  </div>
  <div class="column">
    <img src="../../../assets/images/img_snow.jpg" alt="Lights" style="width:100%" (click)="open(3)" >
  </div>
</div>

<ngb-pagination [collectionSize]="50" [(page)]="currentPage" size="sm"></ngb-pagination>


<div class="container">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  <img id="expandedImg" style="width:100%">
  <div id="imgtext"></div>
</div>
  </body>
</html>


