<form>
  <h2>משתמש קיים</h2>
  <label>שם משתמש</label>
  <br>
  <input type="text" pInputText [(ngModel)]="name">  
  <br>
  <label>סיסמא </label>   
  <br>
  <input type="password" pInputText  [(ngModel)]="password"> 
  <br>
  <button (click)="checkLogin()">אישור</button>  
  <br>
  <button (click)="newUser()">משתמש חדש</button>   
</form>
