<div class="main-div">

  <mat-toolbar color="primary" class="my-toolbar" style="top:0%" >
      <mat-toolbar-row>
      
      <span class="example-spacer"></span>
      <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        
        <div *ngIf="isLogin != null">
          <button mat-button routerLink="/exchange" routerLinkActive="active" [ngClass]="{'active-menu':this.url=='exchange'}" (click)="projects()">
             צפיה במיזמים
             <i class="pi pi-eye"></i>
            </button>
          <button mat-button routerLink="/exchange" routerLinkActive="active" [ngClass]="{'active-menu':this.url=='exchange'}" (click)="newProjects()">
             מיזם חדש
             <i class="pi pi-bars"></i>
            </button>
          <button mat-button routerLink="/edit-constraint" routerLinkActive="active" [ngClass]="{'active-menu':this.url=='edit-constraint'}" (click)="newProjects()">
             איזור אישי 
             <i class="pi pi-user"></i>
            </button>
          <button mat-button routerLink="/home" routerLinkActive="active" [ngClass]="{'active-menu':this.url=='home'}" >
             דף הבית
             <i class="pi pi-home"></i>
             </button>
             <label>    </label>
             <span > &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; </span>
             <span > &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; </span>
             
             <img style="width: 200px;border-radius: 70%;
             top: 10%;
    position: absolute;
    right: 1%; bottom:-15px" src="../assets/images/logo.gif">
        </div>
      </div>

      <div *ngIf="isLogin != null">
        <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
      </div>


      <button *ngIf="isLogin" mat-button [matMenuTriggerFor]="log" style="position: absolute;
          left: auto;">
        <img *ngIf='provider != "password"' style="width:  50px; border-radius:50%" src="{{profil}}">
        <img *ngIf='provider == "password"' style="width:  80px; 
                left: 0%;" src="../assets/user.gif">
      </button>
      <button *ngIf="!isLogin"  (click)="register()" mat-button style="position: absolute;
      left: auto;">
    הזדהות
  </button>
      <!-- <button type="button"  style="left: auto;">הזדהות</button> -->
      <mat-menu #log="matMenu">
        <h5>{{name}}</h5>
        <button type="button" (click)="logout()" class="btn btn-link">התנתק</button>
        
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-menu x-position="before" #menu="matMenu" >
    <button mat-button routerLink="/home" routerLinkActive="active" style="width: 100%!important;text-align: right!important">
       דף הבית
       <i class="pi pi-home"></i>
      </button><br/>
    <button mat-button routerLink="/edit-constraint" routerLinkActive="active" style="width: 100%!important; text-align: right!important" (click)="newProjects()">  
       איזור אישי
       <i class="pi pi-user"></i>
      </button><br/>
    <button mat-button routerLink="/search/ " routerLinkActive="active" style="width: 100%!important;text-align: right!important" (click)="newProjects()">
       מיזם חדש
       <i class="pi pi-bars"></i>
      </button><br/>
    <button mat-button routerLink="/exchange" routerLinkActive="active" style="width: 100%!important;text-align: right!important" (click)="projects()"> 
      צפיה במיזמים
       <i class="pi pi-eye"></i>
       </button>
  </mat-menu>
    <main [ngClass]="{'background-div':isLogin,'padding-for-menu':isLogin}">
<br/><br/><br/><br/>


    <router-outlet ></router-outlet>
  </main >
  
  <mat-toolbar class="my-toolbar" style="bottom: 0px;height: 50px" *ngIf="isLogin" >
      
     
  </mat-toolbar>
</div>