main{
  text-align: center;
  direction: rtl;
}
.padding-for-menu{
  padding-right:290px!important;
  padding-bottom: 40px;
  padding-top:65px!important ;
  padding-left: 20px;
}
.background-div{
  min-height: 95vh;
  background-color: white;
  border-radius: 5px;
  max-width: 100%;
  text-align: center;
  margin:10px auto;
  // position: relative;
}
.navImg{
    width: 150px;
}
.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .my-toolbar{ 
    background-color:#9d9ca1;
    position: fixed;
    z-index:999;
    height:65px;
   
  }
  .maim-div{
    min-height: 100vh;
    direction:rtl;
 }


 mat-menu button{
   width: 100%!important;
   
 }
 .constraint{
  position: fixed;
    right: 0;
    top: 65px;
    /* color: white; */
    height:84% ;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    width: 270px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
    padding: 25px;
    text-align: center;
    border: none;
    // font-size: 15pt;
}

ul{
  padding: 0px;
  direction: rtl;
  list-style-type: none;
  text-align: right;
}
@media (max-width: 900px){
  .constraint{
   display: none; 
 }
 .padding-for-menu{
  padding-right:20px!important;
 }
}
@media (min-width: 900px){
  .worning{
display: none;
  }
}
.active-menu{
  outline: 5px auto -webkit-focus-ring-color;
  font-weight: bold;
}
.worning{
  color:red;
  position: absolute;
  top: 9vh;
    left: 50%;
  transform: translate(-50%, 0);
  font-size: 12pt;

}
.my-toolbar[_ngcontent-c0] {
  background-color: #2dd6d1!important ;
  
}