<form>
  <h2>מיזם חדש</h2>
  <h2>הכנס פרטי מיזם</h2>
  <label>שם מיזם</label>
  <br>
  <input type="text" pInputText [(ngModel)]="name">  
  <label>קוד מיזם</label>   
  <br>
  <input type="password" pInputText  [(ngModel)]="password"> 
  <br>
  <label>תיאור המיזם</label>
  <br>
  <input type="text" pInputText [(ngModel)]="description">  
  <label>תאריך יעד</label>
  <br>
  <input type="date" pInputText [(ngModel)]="deadline">

  <button (click)="addContact()">צרף אנשי קשר למיזם</button>  
  <br>
  <button (click)="next()">המשך</button>   
</form>
