<form>
    <h2>איזור אישי</h2>
    <label>מיזמים שיזמתי</label>
    <br>
    <input type="text" pInputText [(ngModel)]="name">  
    <br>
    <label>מיזמים שהשתתפתי </label>   
    <br>
    <input type="text" pInputText  [(ngModel)]="password"> 
 
  </form>
  