

<h2>משתמש חדש</h2>

<form (ngSubmit)="personServe.save()">
    <label>שם משתמש</label>
    <br>
    <input type="text"  name="fname" [(ngModel)]="user.name">
    <br>
    <label>סיסמא</label>
    <br>
    <input  type="password" name="password" [(ngModel)]="user.password">
    <br>
    <label>מייל</label>
    <br>
    <input  type="text" name="mail" [(ngModel)]="user.mail">
    <br>
    <button (click)="checkLogin()">כניסה</button>
</form>