/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/primeng/resources/themes/omega/theme.css';
// @import '~css-star-rating/scss/star-rating';
@import '~ngx-bar-rating/themes/br-default-theme' ;
@import '~ngx-bar-rating/themes/br-fontawesome-theme';
@import '~ngx-bar-rating/themes/br-fontawesome-o-theme';
@import '~ngx-bar-rating/themes/br-horizontal-theme';
@import '~ngx-bar-rating/themes/br-horizontal-theme';
@import '~ngx-bar-rating/themes/br-stars-theme';
@import '~ngx-bar-rating/themes/br-movie-theme';
@import '~ngx-bar-rating/themes/br-square-theme';
@import '~ngx-bar-rating/themes/br-bootstrap-theme';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "./styles/w3.css";
@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);




b{
  color: #2399e5;
}
.div{
  
    position: fixed;
    text-align: rtl;
    text-align: center;
    left:15%;
    /* display: grid; */
    /* direction: rtl; */
  }

  .loader {
    position: fixed;
    left: 40%;
    top: 40%;
    border: 16px solid grey;
    border-radius: 50%;
    border-top: 16px solid #2399e5;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1.5s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
    z-index: 999;

  }
  .fog-div{
    background-color: rgb(108, 113, 141);
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: fixed;
    top:0px;
    left: 0px;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .director{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-left: 5px;
  }
  .main-director{
    text-align: right;
    margin-bottom: 10px;
  }
  .cal-month-view .cal-day-badge {
  display: none;
}
.cal-month-view .cal-event {
 
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}
.red{
  background-color: #f60054!important
}
.red:hover{
  background-color: #f60052a6!important
}
.green{
  background-color: #52f111!important;
  }
.green:hover{
  background-color: #64f884!important;
}
.yellow{
  color: white;
  background-color: #ffa404!important;
}
.yellow:hover{
  background-color: #ffa304a9!important;
}